*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    padding: 20px;
    display: flex;  
}

#header .header_logo img{
    height: 45px;
    width: 200px;
}

#header .header_find {
    display: flex;
    height: 30px;
    width: 350px;
    top: 10px;
    border: 1px solid rgba(187, 184, 184, 0.734);
    border-radius: 8px;
    background-color: rgb(244, 242, 240);
    margin-left: 20px;
    margin-top: 5px;
    padding-top: 5px;
}

#header .header_find i{
   padding-left:15px;
}

#header .header_find p{
    padding-left: 16px;
    color: rgb(76, 87, 87);
}

#header .header_tilte {
    display: flex;
    padding: 10px;
}

#header .header_tilte p{
    margin-left: 25px;
}

#header .header_avt{
    position: absolute;
    right: 30px;
}
