*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family:Arial, Helvetica, sans-serif;
}

body {
    overflow-x:hidden;
}

#main{
    display:block;
    height: 2800px;
}

#header{
    padding: 20px;
    display: flex;  
    position: fixed;
    background-color: #fff;
    z-index: 2;
    cursor: pointer;
}

#header .header_logo img{
    height: 45px;
    width: 200px;
}

#header .header_find {
    display: flex;
    height: 30px;
    width: 350px;
    top: 10px;
    border: 1px solid rgba(187, 184, 184, 0.734);
    border-radius: 8px;
    background-color: rgb(244, 242, 240);
    margin-left: 20px;
    margin-top: 5px;
    padding-top: 5px;
}

#header .header_find i{
   padding-left:15px;
}

#header .header_find p{
    padding-left: 16px;
    color: rgb(76, 87, 87);
}

#header .header_tilte p:hover {
    color:rgb(70, 67, 247);
}

#header .header_tilte {
    display: flex;
    padding: 10px;
    cursor: pointer;
}

#header .header_tilte p{
    margin-left: 25px;
}

#header .header_avt{
    display: block;
    margin-left: 300px;
    cursor: pointer;
}

#center{
    display: flex;
    z-index: 1;
}

#nav{
    display: flex;
    margin-left: 30px;
    width: 200px;
    position: fixed;
    flex-direction: column;  
    margin-top: 76px;
    z-index: 1;
    margin-top: 100px;
}

#nav h4{
    margin-left: 8px;
    cursor: pointer;
}
#nav .nav_app{
    display: flex;
    color: rgb(115, 119, 122);
    background-color: #f1f4fd;
    height: 40px;
    padding: 10px;
    width: 130px;  
    color: #5467e7;
    border-radius: 12px;
}

#nav .nav_list {
    display: block;
    margin-left: 40px;
}

#nav .nav_list a{
    display: block;
    color: rgb(112, 109, 109);
    text-decoration: none;
    line-height: 20px; 
    padding: 8px;
    margin-top: 10px;
}

#nav .nav_icon{
    display: flex;
    color: rgb(115, 119, 122);
    padding: 8px;
    margin-top: 10px;
}

#nav .nav_icon:hover{
    background-color: rgb(192, 200, 206);
    width: 130px;  
    border-radius: 12px;
    color: #5467e7;
}


#nav img{
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 2px 4px 6px 2px rgb(136, 132, 132);
}

#content{
    height: 2630px;
    width: 1101px;
    background-color: rgb(236, 241, 241);
    display:flex;
    margin-left: 245px;
    margin-top: 90px;
    border-radius: 10px;
    flex-direction: column;
}

#content .slider {
    padding:30px;
    display: flex;
}

#content .slider .tab1{
    position:relative ;
    height: 260px;
    width: 750px;
    background-color: rgb(148, 127, 243);
    padding: 16px 30px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
}

#content .slider .tab1 h1{
    color: #fff;
}
#content .slider .tab1 h4{
    margin-top: 15px;
    color: #fff;
}

#content .slider .point{
    margin-top: 70px;
    margin-left: 290px;
}

#content .slider .tab2{
    background-color: rgb(248, 178, 207);
    height: 260px;
    width: 290px;
    margin-left: 20px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
}

#content .slider .tab2 h2{
    margin-top: 20px;
    margin-left: 15px;
}

#content .slider .tab2 a{
    text-decoration: none;
    margin-top: 20px;
    margin-left: 15px;
}

#content .slider .tab2 img{
   height: 150px;
   width: 150px;
   margin-top: 110px;
}

#content .update_text{
    display: flex;
    padding: 20px 30px;
}

#content .update_text a{
    margin-left: 750px;
    text-decoration: none;
}
#content .update_app{
    width: 1040px;
    height: 240px;
    background-color:#fff;
    margin-left: 30px;
    border-radius: 10px;
}
#content .icon1{
    padding: 5px 0;
    display: flex;
    margin-top: 10px;
}

#content .icon{
    display: flex;
    padding: 4px;
    margin-left: 20px;
}

#content .title_icon{
    padding: 0px 12px;
    width: 190px;
    font-size: 15px;
    color: rgb(56, 55, 55);
}

#content .title_icon h6{
    color: rgb(161, 172, 180);
}

#content .title_icon:hover h4{
    color: #5467E7;
    cursor: pointer;
}


#content .detail h4{
    padding: 5px;
    border: solid 1px rgb(43, 84, 218);
    border-radius: 10px;
    font-size: 14px;
    color:rgb(43, 84, 218) ;
}

#content .detail:hover h4{
    color: #fff;
    background-color: #5467E7;
    cursor: pointer;
}

#content .detail h6{
    margin-left: 10px;
    margin-top: 4px;
    color: rgb(161, 172, 180);
}

#content .icon img,
#content .tab4 .popular .app img{
    height: 50px;
    width: 50px;
    cursor: pointer;
}

#content .tab4{
    width: 1040px;
    height: 240px;
    display: flex;
}

#content .tab4 .popular{
    width: 600px;
    height: 240px;
    /* margin-left: 30px; */
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

#content .tab4 .popular .popular_title{
    display: flex;
    margin-left: 30px;
}

#content .tab4 .popular .popular_title a{
    text-decoration: none;
    margin-left: 200px;
}

#content .tab4 .popular .popular_app1{
    width: 500px;
    height: 240px;
    display: flex;
    flex-direction: row;
}

#content .tab4 .popular .app{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 200px;
    border-radius: 10px;
    margin-top: 30px;
    background-color:#fff;
    margin-left: 30px;
}

#content .tab4 .popular .app .header_app{
    padding: 20px;
    width: 250px;
    height: 80px;
    display: flex;
    background-color: rgb(218, 216, 216);
    border-radius: 10px 10px 0px 0px;
}

#content .tab4 .popular .app .header_app .detail{
    margin-left: 90px;
}

#content .tab4 .popular .app .header_app .detail h4{
    background-color: #fff;
}

#content .tab4 .popular .app .header_app .detail h4:hover{
    color: #fff;
    background-color: #5467E7;
    cursor: pointer;
}


#content .tab4 .popular .app .middle_app .verson{
    padding: 15px;
}

#content .tab4 .popular .app .middle_app .verson h4:hover{
    color: #5467E7;
    cursor: pointer;  
}


#content .tab4 .popular .app .middle_app .update{
    display: flex;
    padding: 0px 15px;
    margin-top: 15px;
}

#content .tab4 .popular .app .middle_app .update .up2{
    margin-left: 20px;
}

#content .tab4 .popular h6{
    color: rgb(128, 131, 133)    ;
}

#content .tab4 .train{
    margin-left: 20px;
}
#content .tab4 .train .train_title{
    display: flex;
    margin-top: 40px;
}

#content .tab4 .train .train_title a{
    margin-left:86px;
    text-decoration: none;
}

#content .tab4 .train .tip{
    height: 200px;
    width: 470px;
    background-color: rgb(243, 216, 126);
    margin-top: 30px;
    position: absolute;
    right: 30px;
    border-radius: 10px;
    padding: 30px 20px;
    display: flex;
    cursor: pointer;
}

#content .tab4 .train .tip h3{
    font-size: 15px;
}

#content .tab4 .train .tip h6{
    padding: 20px 5px;
    color: rgb(112, 110, 110);
}

#content .tab4 .train .tip img{
    height: 170px;
    margin-left: 20px;
}

#content .tab4 .train .appfilm{
    margin-top: 280px;
    display: flex;
    flex-direction: column;
}

#content .tab4 .train .appfilm .film_title{
    display: flex;
}

#content .tab4 .train .appfilm .film_title a{
    margin-left: 195px;
    text-decoration: none;
}

#content .tab4 .train .appfilm .film_app{
    display: flex;
    margin-top: 20px;
}

#content .tab4 .train .appfilm .film_app img{
    height: 50px;
    cursor: pointer;
}

#content .tab4 .train .appfilm .film_app .name{
    margin-left: 20px;
    width: 280px;
}

#content .tab4 .train .appfilm .film_app .name h5{
    color: #b5b4c1;
}

#content .tab4 .train .appfilm .film_app .name h4:hover{
    color: #5467E7;
    cursor: pointer;
}


.tab5{
    width: 1040px;
    height: 240px;
    margin-top: 330px;
    margin-left: 30px;
}

.tab5 .rally_title {
    display: flex;
}

.tab5 .rally_title a{
    text-decoration: none;
    margin-left: 700px;
}

.tab5 .app1 {
    display: flex;
}

.tab5 .app {
    margin-right: 40px;
    cursor: pointer;
}

.tab5 .app h3{
    margin-top: 10px;
}

.tab5 .app h3:hover{
    color: #5467E7;
    cursor: pointer;
}

.tab5 .app h5{
    margin-top: 5px;
    color: #b2b2bd;
}

.tab5 .app img{
    margin-top: 30px;
    border-radius: 10px;
    height: 200px;
}

.tab6{
    width: 1040px;
    margin-top: 130px;
    margin-left: 30px;
    display: flex;  
    flex-direction:column ;
}

.tab6 .middle{
    display: flex;
    flex-direction: row;
}

.tab6 .title {
    display: flex;
}

.tab6 .title a{
    text-decoration: none;
    margin-left: 870px;
}

.tab6 .metro img{
    margin-top: 30px;
    height: 530px;
    width: 516px;
    border-radius: 10px;
    position: relative;
}

.tab6 .metro .text{
    position: absolute;
    top: 2060px;
    color: rgb(151, 144, 144);
    font-size: 14px;
    left: 300px;
    border-radius: 10px;
    padding: 1px;
    color: #fff;
    margin-left: 10px;
    z-index: 1;
}

.tab6 .metro .text h3{
    background-color: #fff;
    color: #b5b4c1;
    padding: 3px;
    width: 70px;
    border-radius: 10px;
    font-size: 16px;
}

.tab6 .metro .text h4:hover{
    color: #5467E7;
    cursor: pointer;
}

.tab6 .metro .text h3:hover{
    color: #fff;
    background-color: #5467E7;
    cursor: pointer;
}


.tab6 .metro .text h4{
    font-size: 18px;
    margin-top: 10px;
}

.tab6  .dow{
    display: flex;
    margin-top: 15px;
    color: #9393a3;
    margin-left: 10px;
}

.tab6 .metro .dow h6{
    margin: 4px;
}

.tab6 .metro .dowload{
    display: flex;
    margin-top: 20px;
    flex-direction: row;
}

.tab6 .metro .dowload .detail{
    margin-left: 260px;
}

.tab6 .metro .dowload .detail h4{
    background-color: #fff;
}

.tab6 .metro .dowload .detail h6{
    font-size: 10px;
}


.tab6 .app img{
    height: 140px;
    border-radius: 10px;
    width: 224px;
}

.tab6 .app1{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.tab6 .app{
    display: flex;
    margin-bottom: 50px;
    width: 500px;
    background-color: #fff  ;
    border-radius: 10px;
}

.tab6 .app .text{
    margin:10px;
}

.tab6 .app .text h3{
    font-size: 12px;
    border-radius: 12px;
    box-shadow: 0px 1px 2px rgb(38 45 82 / 12%);
    padding: 5px 10px;
    line-height: 15px;
    color: #9a9aab;
    width: 100%;
    cursor: pointer;    
    width: 120px;
}

.tab6 .app .text h3:hover{
    color: #fff;
    background-color: #5467E7;
    cursor: pointer;
}

.tab6 .app .text h4:hover{
    color: #5467E7;
    cursor: pointer;
}


.tab6 .app .text h4{
    padding: 10px;
}

.tab6 .app .dowload{
    display: flex;
    margin-top: 20px;
    flex-direction: row;
}

.tab6 .app .dowload .detail{
    margin-left: 110px;
}

.tab6 .app .dow h6{
    margin-top: 4px;
    margin-left:4px ;
}

.tab7 .hotgame {
    display: flex;
    margin-left: 30px;
}

.tab7 .hotgame a{
    text-decoration: none;
    margin-left: 720px;
}

.tab7 .app1{
    display: flex;
}
.tab7 .app{
    display: flex;
    flex-direction: column;
    margin-left: 30px;  
    margin-top: 30px;
}

.tab7 .app img{
    width: 330px;
    height: 200px;
    border-radius: 10px;
    cursor: pointer;
}

.tab7 .app h3{
    font-size: 12px;
    border-radius: 12px;
    box-shadow: 0px 1px 2px rgb(38 45 82 / 12%);
    padding: 5px 10px;
    line-height: 15px;
    color: #9a9aab;
    cursor: pointer;
    width: 90px;
    margin: 15px 0px 0px 0px;  
}

.tab7 .app h3:hover{
    color:#fff;
    background-color: #5467E7;
    cursor: pointer;
}


.tab7 .app h4{
    padding: 15px 0px;
    color: #262D52;
}

.tab7 .app h6{
    color: #9a9aab;
}

.last {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.last a{
    text-decoration: none;
    font-size: 18px;
    text-align: center;

}












