*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family:Arial, Helvetica, sans-serif;
}

body {
    overflow-x:hidden;
}

#main{
    display:block;
}

#header{
    padding: 20px;
    display: flex;  
    position: fixed;
    background-color: #fff;
    z-index: 1;
}

#header .header_logo img{
    height: 45px;
    width: 200px;
}

#header .header_find {
    display: flex;
    height: 30px;
    width: 350px;
    top: 10px;
    border: 1px solid rgba(187, 184, 184, 0.734);
    border-radius: 8px;
    background-color: rgb(244, 242, 240);
    margin-left: 20px;
    margin-top: 5px;
    padding-top: 5px;
}

#header .header_find i{
   padding-left:15px;
}

#header .header_find p{
    padding-left: 16px;
    color: rgb(76, 87, 87);
}

#header .header_tilte {
    display: flex;
    padding: 10px;
}

#header .header_tilte p{
    margin-left: 25px;
}

#header .header_avt{
    display: block;
    margin-left: 300px;
}

#center{
    display: flex;
    z-index: 1;
}

#nav{
    display: flex;
    margin-left: 30px;
    width: 200px;
    position: fixed;
    flex-direction: column;  
    margin-top: 76px;
    z-index: 1;
}

#nav h4{
    margin-left: 8px;
}
#nav .nav_app{
    display: flex;
    color: rgb(115, 119, 122);
}

#nav .nav_list {
    display: block;
    margin-left: 40px;
}

#nav .nav_list a{
    display: block;
    color: rgb(112, 109, 109);
    text-decoration: none;
    line-height: 20px; 
    padding: 8px;
}

#nav .nav_icon{
    display: flex;
    color: rgb(115, 119, 122);
}

#nav img{
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 2px 4px 6px 2px rgb(136, 132, 132);
}

#content{
    height: 2000px;
    width: 1101px;
    background-color: rgb(236, 241, 241);
    display:flex;
    margin-left: 245px;
    margin-top: 90px;
    border-radius: 10px;
    flex-direction: column;
}

#content .slider {
    padding:30px;
    display: flex;
}

#content .slider .tab1{
    position:relative ;
    height: 260px;
    width: 750px;
    background-color: rgb(148, 127, 243);
    padding: 16px 30px;
    border-radius: 10px;
    display: flex;
}

#content .slider .tab1 h1{
    color: #fff;
}
#content .slider .tab1 h4{
    margin-top: 15px;
    color: #fff;
}

#content .slider .point{
    margin-top: 70px;
    margin-left: 290px;
}

#content .slider .tab2{
    background-color: rgb(248, 178, 207);
    height: 260px;
    width: 290px;
    margin-left: 20px;
    border-radius: 10px;
    display: flex;
}

#content .slider .tab2 h2{
    margin-top: 20px;
    margin-left: 15px;
}

#content .slider .tab2 a{
    text-decoration: none;
    margin-top: 20px;
    margin-left: 15px;
}

#content .slider .tab2 img{
   height: 150px;
   width: 150px;
   margin-top: 110px;
}

#content .update_text{
    display: flex;
    padding: 20px 30px;
}

#content .update_text a{
    margin-left: 750px;
    text-decoration: none;
}
#content .update_app{
    width: 1040px;
    height: 240px;
    background-color:#fff;
    margin-left: 30px;
    border-radius: 10px;
}
#content .icon1{
    padding: 5px 0;
    display: flex;
    margin-top: 10px;
}

#content .icon{
    display: flex;
    padding: 4px;
    margin-left: 20px;
}

#content .title_icon{
    padding: 0px 12px;
    width: 190px;
    font-size: 15px;
    color: rgb(56, 55, 55);
}

#content .title_icon h6{
    color: rgb(161, 172, 180);
}

#content .detail h4{
    padding: 5px;
    border: solid 1px rgb(43, 84, 218);
    border-radius: 10px;
    font-size: 14px;
    color:rgb(43, 84, 218) ;
}

#content .detail h6{
    margin-left: 10px;
    margin-top: 4px;
    color: rgb(161, 172, 180);
}

#content .icon img{
    height: 50px;
    width: 50px;
}